<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo HTML5-CSS3</title>
    <meta name="description" content="Una pagina web de ejemplo" > 
    <link rel="stylesheet" href=../content/Estilo.css ></link>
    <meta name="keywords" content="HTML5, CSS3, Ejemplo, Web, Sitio" >
</head>
    <body class="body">

        <header class="header">
            <nav>
                <ul>
                    <li class="active"><a href="#"> Inicio </a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
            </nav> 
        </header>


        <div class="Main">
            <div class="content">
                <article class="Top">
                    <header>
                        <h1>Yair Alexander Morales Mejía, 1890-22-5710</h1>
                        <h2><a href="#">¿Qué es HTML5?</a></h2>
                    </header>
                    <footer>
                        <h5>Esto fue posteado el 2025 por UMG-Guastatoya</h5>
                    </footer>
                    <section>
                        <p>Durante los últimos años, el estándar HTML5 se ha estado afianzando.</p>
                        <p>HTML5 es un lenguaje más semántico. En otras palabras, se define mejor el significado de cada elemento.</p>
                    </section>
                </article>

                <article class="bottom">
                    <header>
                        <h2><a href="#">Introduccion a CSS3</a></h2>
                    </header>
                    <footer>
                        <h5>Esto fue posteado el 2025 por UMG-Guastatoya</h5>
                    </footer>
                    <section>
                        <p>
                            El nombre hojas de estilo en cascada viene del ingles Cascad
                            que serviran de estandar para los agentes de usuario o navegacion
                        </p>
                        <p> ¿Para que sirveel CSS3?</p>
                        <P>El CSS3 sirve para dirigir la estetica de un sitio web</P>
                    </section>
                </article>
            </div>

            <!-- fin del div content -->

            <aside class="top-sidebar">
                <h2>Navegación</h2>
                <ul class="navegation">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">contactanos</a></li>
                </ul>
            </aside>

            <aside class="bottom-sidebar">
                <h2>Noticias</h2>
                <ul class="featured">
                    <h2>¿Que es y para que sirve JavaScript?</h2>
                    <p>JavaScript es un lenguaje ligero e interpretado</p>
                    <li><a href="#">Leer mas.../a></li>
                </ul>
            </aside>
        </div>


        <footer class="pageFooter">
            <p> Copyright &copy; 2025 - www.sitioyair.com</p>
        </footer>
    </body>
</html>